<!DOCTYPE html>
<html>

<head>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-yellow w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="{{ url_for('U_Home_page')}}" class="w3-bar-item w3-button w3-padding-large  w3-hide-small">Home</a>
            <a href="{{ url_for('U_Progress')}}"
                class="w3-bar-item w3-button w3-padding-large  w3-hide-small">progress</a>
            <a href="{{ url_for('U_Discover')}}"
                class="w3-bar-item w3-button w3-padding-large  w3-hide-small">Discover</a>
            <a href="{{ url_for('U_Select_food')}}" class="w3-bar-item w3-button w3-padding-large  w3-hide-small">Food
                Adder</a>
            <a href="{{ url_for('U_Settings')}}"
                class="w3-bar-item w3-button w3-padding-large  w3-hide-small">Settings</a>
            <!--<div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Merchandise</a> 
            <a href="#" class="w3-bar-item w3-button">Extras</a>
            <a href="#" class="w3-bar-item w3-button">Media</a>
          </div>
        </div>
      -->
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-white w3-border w3-hide w3-hide-large w3-hide-medium w3-top"
        style="margin-top:46px">
        <a href="{{ url_for('U_Home_page')}}" class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()">Home</a>
        <a href="{{ url_for('U_Progress')}}" class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()">Progress</a>
        <a href="{{ url_for('U_Discover')}}" class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()">Discover</a>
        <a href="{{ url_for('U_Select_food')}}" class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()">Food Adder</a>
        <a href="{{ url_for('U_Settings')}}" class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()">Settings</a>
    </div>



    <section style="width: 100%; height: 5vh;"></section>
    <title>User_Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script><!--chart.js-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>plotly.js-->
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:20px; margin-top: 30px;">
    <h1><b>
            <center>Progress</center>
        </b></h1>
</div>


<div class="w3-container w3-content" style="max-width:800px;margin-top:30px; margin: auto; align-content: center;">
    <!-- The Grid -->
    <div class="w3-row ">
        <!-- Left Column -->
        <!-- <div class="w3-col m7">-->
        <!-- Profile -->
        <div class="w3-card w3-round w3-white w3-margin ">
            <div class="w3-container">
                <h4 class="w3-center"><b>My Progress</b></h4>
                {% for user in users %}
                {% for menus in menu %}
                {% if user.name=='john' %}
                {% if menus.item=='Club Sandwich' %}
                <script>
                    t = (parseInt({{ menus.cal }}) / parseInt({{ user.cal }})) * 100
                </script>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                <div id="chart-wrapper w3-center">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
                <script>
                    var xValues = ["Consumed", "Remaining"];
                    var yValues = [t, 100 - t];
                    var barColors = [
                        "#00cc66",
                        "#0099ff"
                    ];

                    new Chart("myChart", {
                        type: "doughnut",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: true,
                                position: 'right',
                                align: 'center',
                                labels: {
                                    color: 'darkred',
                                    font: {
                                        weight: 'bold'
                                    },
                                }
                            }
                        }
                    });
                </script>
            </div>
            <br>
        </div>
        <!--second chart begin-->
        <div class="w3-card w3-round w3-white w3-margin ">
            <div class="w3-container">
                <h4 class="w3-center"><b>Micro Nutrients</b></h4>
                {% for user in users %}
                {% for menus in menu %}
                {% if user.name=='john' %}
                {% if menus.item=='Club Sandwich' %}
                <script>
                    t = (parseInt({{ menus.cal }}) / parseInt({{ user.cal }})) * 100
                </script>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                <div id="chart-wrapper w3-center">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
                <script>
                    var xValues = ["Consumed", "Remaining"];
                    var yValues = [t, 100 - t];
                    var barColors = [
                        "#00cc66",
                        "#0099ff"
                    ];

                    new Chart("myChart", {
                        type: "doughnut",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: true,
                                position: 'right',
                                align: 'center',
                                labels: {
                                    color: 'darkred',
                                    font: {
                                        weight: 'bold'
                                    },
                                }
                            }
                        }
                    });
                </script>
            </div>
            <br>
        </div>

        <!--second chart end-->
        <!--Third chart begin-->
        <div class="w3-card w3-round w3-white w3-margin ">
            <div class="w3-container">
                <h4 class="w3-center"><b>Macro Nutrients</b></h4>
                {% for user in users %}
                {% for menus in menu %}
                {% if user.name=='john' %}
                {% if menus.item=='Club Sandwich' %}
                <script>
                    t = (parseInt({{ menus.cal }}) / parseInt({{ user.cal }})) * 100
                </script>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                <div id="chart-wrapper w3-center">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
                <script>
                    var xValues = ["Consumed", "Remaining"];
                    var yValues = [t, 100 - t];
                    var barColors = [
                        "#00cc66",
                        "#0099ff"
                    ];

                    new Chart("myChart", {
                        type: "doughnut",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: true,
                                position: 'right',
                                align: 'center',
                                labels: {
                                    color: 'darkred',
                                    font: {
                                        weight: 'bold'
                                    },
                                }
                            }
                        }
                    });
                </script>
            </div>
            <br>
        </div>
        <!--Third chart end-->




        <!--</div>-->
        <script>
            // Script to open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }

            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>


    </div>
</div>
<!--
            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Lorem Ipsum</b></p>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <div class="w3-container w3-white">
                    <p><b>Lorem Ipsum</b></p>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>-->
</div>


</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }


    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000);
    }


</script>

</body>

</html>